{{- bos_token }}
{%- if messages[0]['role'] == 'system' %}
    {%- set system_message = messages[0]['content'] %}
    {%- set loop_messages = messages[1:] %}
{{- '<|start_header_id|>system<|end_header_id|>\n\n' + system_message + '<|eot_id|>' }}
{%- else %}
    {%- set loop_messages = messages %}
{%- endif %}

{%- for message in loop_messages %}
    {%- if message['role'] == 'user' %}
{{- '<|start_header_id|>user<|end_header_id|>\n\n' + message['content'] | trim + '<|eot_id|>' }}
    {%- elif message['role'] == 'assistant' %}
{{- '<|start_header_id|>assistant<|end_header_id|>\n\n' }}{% generation %}{{ message['content'] | trim + '<|eot_id|>' }}{% endgeneration %}
    {%- endif %}
{%- endfor %}

{%- if add_generation_prompt %}
{{- '<|start_header_id|>assistant<|end_header_id|>\n\n' }}
{%- endif %}